.cardss {
    background-image: url("/public/images/img-2.jpg");
  }
.container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    margin-bottom: 2px;
   
}

.sub_container{
   
    margin: 0px 10px 0px 10px;
    height: 500px;
    width: 500px;
    margin: 5px 0 5px 0;
    border: 2px solid rgb(230, 225, 225);
    border-radius: 5px;
    background-color: aliceblue;
}

.each-div {
    margin: 10px;
    height: 50px;
    border: 1px solid blueviolet;
    border-radius: 5px;
}

.text_lebel{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    
}

.lebel_text {
    
    border-radius: 5px;
    margin: 3px;
}

.file_upload {
    margin: 10px;
}
.radio_formatter{
    margin-top: 10px;
    margin-left: 120px;
    align-items: center;
}

.textarea {
    height: 240px;
    width: 470px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin: 10px;
}


.button_div{
    height: 50px;
    
}
.button{
    margin-top: 10px;
    margin-left: 200px;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
